.container {
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}
.card {
  padding: 5px;
  border: 1px solid #333;
  width: 350px;
  border-radius: 8px;
  box-shadow:1px 2px 4px #909090;
}
